## Build results
[Bb]in/
[Oo]bj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/

## Logs
*.log
*.tlog

## OS-specific
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

## Rider / VS Code / IDE
.idea/
.vscode/

## Other caches
*.pidb
*.svclog
*.pdb


